h1 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: -1px;
    color: #1793cd;
    font-style: normal;


}

body {
    background: linear-gradient(45deg, black, transparent);
    background-size: cover;
    background-blend-mode: overlay;
}

.contact-form {
    max-width: 450px;
    margin: 30px auto;
}

.contact-form input {
    padding-left: 25px;
}

.contact-form .form-group {
    margin-bottom: 0;
    position: relative;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 3px;
}

.contact-form textarea {
    height: 300px !important
}

.contact-form input:not([type='submit'])+i {
    height: 0;
    float: left;
    position: relative;
    top: -27px;
    left: 5px;
    color: rgb(160 167 171);
}

.contact-form .asterisx {
    float: right;
    height: 0;
    font-size: 25px;
    color: #a94442;
    position: relative;
    right: 13px;
    top: -31px;
}


.contact-form .send-icon {
    display: block;
    position: relative;
    top: 33px;
    left: 49px;
    color: #ffffff;

}

.contact-form .view {
    position: relative;
    top: 0px;
    left: 55px;
    color: #ffffff;

}